.small-up-1 > .column, .small-up-1 > .columns { float: left; width: 100%; }
.small-up-2 > .column, .small-up-2 > .columns { float: left; width: 50%; }
.small-up-3 > .column, .small-up-3 > .columns { float: left; width: 33.33333%; }
.small-up-4 > .column, .small-up-4 > .columns { float: left; width: 25%; }
.small-up-5 > .column, .small-up-5 > .columns { float: left; width: 20%; }
.small-up-6 > .column, .small-up-6 > .columns { float: left; width: 16.66667%; }
.small-up-7 > .column, .small-up-7 > .columns { float: left; width: 14.28571%; }
.small-up-8 > .column, .small-up-8 > .columns { float: left; width: 12.5%; }

.small-up-1 > .column:nth-of-type(1n), .small-up-1 > .columns:nth-of-type(1n) { clear: none; }
.small-up-1 > .column:nth-of-type(1n+1), .small-up-1 > .columns:nth-of-type(1n+1) { clear: both; }
.small-up-1 > .column:last-child, .small-up-1 > .columns:last-child { float: left; }
.small-up-2 > .column:nth-of-type(1n), .small-up-2 > .columns:nth-of-type(1n) { clear: none; }
.small-up-2 > .column:nth-of-type(2n+1), .small-up-2 > .columns:nth-of-type(2n+1) { clear: both; }
.small-up-2 > .column:last-child, .small-up-2 > .columns:last-child { float: left; }
.small-up-3 > .column:nth-of-type(1n), .small-up-3 > .columns:nth-of-type(1n) { clear: none; }
.small-up-3 > .column:nth-of-type(3n+1), .small-up-3 > .columns:nth-of-type(3n+1) { clear: both; }
.small-up-3 > .column:last-child, .small-up-3 > .columns:last-child { float: left; }
.small-up-4 > .column:nth-of-type(1n), .small-up-4 > .columns:nth-of-type(1n) { clear: none; }
.small-up-4 > .column:nth-of-type(4n+1), .small-up-4 > .columns:nth-of-type(4n+1) { clear: both; }
.small-up-4 > .column:last-child, .small-up-4 > .columns:last-child { float: left; }
.small-up-5 > .column:nth-of-type(1n), .small-up-5 > .columns:nth-of-type(1n) { clear: none; }
.small-up-5 > .column:nth-of-type(5n+1), .small-up-5 > .columns:nth-of-type(5n+1) { clear: both; }
.small-up-5 > .column:last-child, .small-up-5 > .columns:last-child { float: left; }
.small-up-6 > .column:nth-of-type(1n), .small-up-6 > .columns:nth-of-type(1n) { clear: none; }
.small-up-6 > .column:nth-of-type(6n+1), .small-up-6 > .columns:nth-of-type(6n+1) { clear: both; }
.small-up-6 > .column:last-child, .small-up-6 > .columns:last-child { float: left; }
.small-up-7 > .column:nth-of-type(1n), .small-up-7 > .columns:nth-of-type(1n) { clear: none; }
.small-up-7 > .column:nth-of-type(7n+1), .small-up-7 > .columns:nth-of-type(7n+1) { clear: both; }
.small-up-7 > .column:last-child, .small-up-7 > .columns:last-child { float: left; }
.small-up-8 > .column:nth-of-type(1n), .small-up-8 > .columns:nth-of-type(1n) { clear: none; }
.small-up-8 > .column:nth-of-type(8n+1), .small-up-8 > .columns:nth-of-type(8n+1) { clear: both; }
.small-up-8 > .column:last-child, .small-up-8 > .columns:last-child { float: left; }

@media print, screen and (min-width: 40em) {
    .medium-up-1 > .column, .medium-up-1 > .columns { float: left; width: 100%; }
    .medium-up-2 > .column, .medium-up-2 > .columns { float: left; width: 50%; }
    .medium-up-3 > .column, .medium-up-3 > .columns { float: left; width: 33.33333%; }
    .medium-up-4 > .column, .medium-up-4 > .columns { float: left; width: 25%; }
    .medium-up-5 > .column, .medium-up-5 > .columns { float: left; width: 20%; }
    .medium-up-6 > .column, .medium-up-6 > .columns { float: left; width: 16.66667%; }
    .medium-up-7 > .column, .medium-up-7 > .columns { float: left; width: 14.28571%; }
    .medium-up-8 > .column, .medium-up-8 > .columns { float: left; width: 12.5%; }

    .medium-up-1 > .column:nth-of-type(1n), .medium-up-1 > .columns:nth-of-type(1n) { clear: none; }
    .medium-up-1 > .column:nth-of-type(1n+1), .medium-up-1 > .columns:nth-of-type(1n+1) { clear: both; }
    .medium-up-1 > .column:last-child, .medium-up-1 > .columns:last-child { float: left; }
    .medium-up-2 > .column:nth-of-type(1n), .medium-up-2 > .columns:nth-of-type(1n) { clear: none; }
    .medium-up-2 > .column:nth-of-type(2n+1), .medium-up-2 > .columns:nth-of-type(2n+1) { clear: both; }
    .medium-up-2 > .column:last-child, .medium-up-2 > .columns:last-child { float: left; }
    .medium-up-3 > .column:nth-of-type(1n), .medium-up-3 > .columns:nth-of-type(1n) { clear: none; }
    .medium-up-3 > .column:nth-of-type(3n+1), .medium-up-3 > .columns:nth-of-type(3n+1) { clear: both; }
    .medium-up-3 > .column:last-child, .medium-up-3 > .columns:last-child { float: left; }
    .medium-up-4 > .column:nth-of-type(1n), .medium-up-4 > .columns:nth-of-type(1n) { clear: none; }
    .medium-up-4 > .column:nth-of-type(4n+1), .medium-up-4 > .columns:nth-of-type(4n+1) { clear: both; }
    .medium-up-4 > .column:last-child, .medium-up-4 > .columns:last-child { float: left; }
    .medium-up-5 > .column:nth-of-type(1n), .medium-up-5 > .columns:nth-of-type(1n) { clear: none; }
    .medium-up-5 > .column:nth-of-type(5n+1), .medium-up-5 > .columns:nth-of-type(5n+1) { clear: both; }
    .medium-up-5 > .column:last-child, .medium-up-5 > .columns:last-child { float: left; }
    .medium-up-6 > .column:nth-of-type(1n), .medium-up-6 > .columns:nth-of-type(1n) { clear: none; }
    .medium-up-6 > .column:nth-of-type(6n+1), .medium-up-6 > .columns:nth-of-type(6n+1) { clear: both; }
    .medium-up-6 > .column:last-child, .medium-up-6 > .columns:last-child { float: left; }
    .medium-up-7 > .column:nth-of-type(1n), .medium-up-7 > .columns:nth-of-type(1n) { clear: none; }
    .medium-up-7 > .column:nth-of-type(7n+1), .medium-up-7 > .columns:nth-of-type(7n+1) { clear: both; }
    .medium-up-7 > .column:last-child, .medium-up-7 > .columns:last-child { float: left; }
    .medium-up-8 > .column:nth-of-type(1n), .medium-up-8 > .columns:nth-of-type(1n) { clear: none; }
    .medium-up-8 > .column:nth-of-type(8n+1), .medium-up-8 > .columns:nth-of-type(8n+1) { clear: both; }
    .medium-up-8 > .column:last-child, .medium-up-8 > .columns:last-child { float: left; }
}

@media print, screen and (min-width: 64em) {
    .large-up-1 > .column, .large-up-1 > .columns { float: left; width: 100%; }
    .large-up-2 > .column, .large-up-2 > .columns { float: left; width: 50%; }
    .large-up-3 > .column, .large-up-3 > .columns { float: left; width: 33.33333%; }
    .large-up-4 > .column, .large-up-4 > .columns { float: left; width: 25%; }
    .large-up-5 > .column, .large-up-5 > .columns { float: left; width: 20%; }
    .large-up-6 > .column, .large-up-6 > .columns { float: left; width: 16.66667%; }
    .large-up-7 > .column, .large-up-7 > .columns { float: left; width: 14.28571%; }
    .large-up-8 > .column, .large-up-8 > .columns { float: left; width: 12.5%; }

    .large-up-1 > .column:nth-of-type(1n), .large-up-1 > .columns:nth-of-type(1n) { clear: none; }
    .large-up-1 > .column:nth-of-type(1n+1), .large-up-1 > .columns:nth-of-type(1n+1) { clear: both; }
    .large-up-1 > .column:last-child, .large-up-1 > .columns:last-child { float: left; }
    .large-up-2 > .column:nth-of-type(1n), .large-up-2 > .columns:nth-of-type(1n) { clear: none; }
    .large-up-2 > .column:nth-of-type(2n+1), .large-up-2 > .columns:nth-of-type(2n+1) { clear: both; }
    .large-up-2 > .column:last-child, .large-up-2 > .columns:last-child { float: left; }
    .large-up-3 > .column:nth-of-type(1n), .large-up-3 > .columns:nth-of-type(1n) { clear: none; }
    .large-up-3 > .column:nth-of-type(3n+1), .large-up-3 > .columns:nth-of-type(3n+1) { clear: both; }
    .large-up-3 > .column:last-child, .large-up-3 > .columns:last-child { float: left; }
    .large-up-4 > .column:nth-of-type(1n), .large-up-4 > .columns:nth-of-type(1n) { clear: none; }
    .large-up-4 > .column:nth-of-type(4n+1), .large-up-4 > .columns:nth-of-type(4n+1) { clear: both; }
    .large-up-4 > .column:last-child, .large-up-4 > .columns:last-child { float: left; }
    .large-up-5 > .column:nth-of-type(1n), .large-up-5 > .columns:nth-of-type(1n) { clear: none; }
    .large-up-5 > .column:nth-of-type(5n+1), .large-up-5 > .columns:nth-of-type(5n+1) { clear: both; }
    .large-up-5 > .column:last-child, .large-up-5 > .columns:last-child { float: left; }
    .large-up-6 > .column:nth-of-type(1n), .large-up-6 > .columns:nth-of-type(1n) { clear: none; }
    .large-up-6 > .column:nth-of-type(6n+1), .large-up-6 > .columns:nth-of-type(6n+1) { clear: both; }
    .large-up-6 > .column:last-child, .large-up-6 > .columns:last-child { float: left; }
    .large-up-7 > .column:nth-of-type(1n), .large-up-7 > .columns:nth-of-type(1n) { clear: none; }
    .large-up-7 > .column:nth-of-type(7n+1), .large-up-7 > .columns:nth-of-type(7n+1) { clear: both; }
    .large-up-7 > .column:last-child, .large-up-7 > .columns:last-child { float: left; }
    .large-up-8 > .column:nth-of-type(1n), .large-up-8 > .columns:nth-of-type(1n) { clear: none; }
    .large-up-8 > .column:nth-of-type(8n+1), .large-up-8 > .columns:nth-of-type(8n+1) { clear: both; }
    .large-up-8 > .column:last-child, .large-up-8 > .columns:last-child { float: left; }
}
