div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

p, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6,
hr, ul, ol, dl, blockquote, .code-block {
    margin-top: 0;
    margin-bottom: 1rem;
}

ul ul, ol ul, ul ol, ol ol {
    margin-bottom: 0;
}

p {
    text-rendering: optimizeLegibility;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    text-rendering: optimizeLegibility;
}

h1 small, .h1 small,
h2 small, .h2 small,
h3 small, .h3 small,
h4 small, .h4 small,
h5 small, .h5 small,
h6 small, .h6 small {
    line-height: 0;
}

a {
    cursor: pointer;
}

a img {
    border: 0;
}

hr {
    clear: both;
    max-width: 75rem;
}

ul,
ol,
dl {
    list-style-position: outside;
}

ul, ol {
    margin-left: 2rem;
}

ul, ol {
    margin-left: 2rem;
}

ul ul, ol ul, ul ol, ol ol {
    margin-left: 2rem;
}

abbr, abbr[title] {
    cursor: help;
}

figure {
    margin: 0;
}

kbd {
    margin: 0;
    font-family: monospace;
}

.subheader {
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
}

.lead {
    font-size: 125%;
    line-height: 1.6;
}

ul.no-bullet, ol.no-bullet {
    margin-left: 0;
    list-style: none;
}

.cite-block, cite {
    display: block;
}

.cite-block:before, cite:before {
    content: "— ";
}

.code-inline, code {
    font-family: monospace;
    display: inline;
    max-width: 100%;
    word-wrap: break-word;
}

.code-block {
    font-family: monospace;
    display: block;
    overflow: auto;
    white-space: pre;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

@media print, screen and (min-width: 40em) {
    .medium-text-left {
        text-align: left;
    }
    .medium-text-right {
        text-align: right;
    }
    .medium-text-center {
        text-align: center;
    }
    .medium-text-justify {
        text-align: justify;
    }
}

@media print, screen and (min-width: 64em) {
    .large-text-left {
        text-align: left;
    }
    .large-text-right {
        text-align: right;
    }
    .large-text-center {
        text-align: center;
    }
    .large-text-justify {
        text-align: justify;
    }
}

.show-for-print {
    display: none !important;
}

@media print {
    * {
        background: transparent !important;
        color: black !important;
        -webkit-print-color-adjust: economy;
        color-adjust: economy;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    .show-for-print {
        display: block !important;
    }
    .hide-for-print {
        display: none !important;
    }
    table.show-for-print {
        display: table !important;
    }
    thead.show-for-print {
        display: table-header-group !important;
    }
    tbody.show-for-print {
        display: table-row-group !important;
    }
    tr.show-for-print {
        display: table-row !important;
    }
    td.show-for-print {
        display: table-cell !important;
    }
    th.show-for-print {
        display: table-cell !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    .ir a:after,
    a[href^='javascript:']:after,
    a[href^='#']:after {
        content: '';
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    pre,
    blockquote {
        border: 1px solid #8a8a8a;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    @page {
        margin: 0.5cm;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
    .print-break-inside {
        page-break-inside: auto;
    }
}
