/**
 * XY Grid (Padding).
 */

.grid-container {
    padding-right: 1rem;
    padding-left: 1rem;
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
}

.grid-container.fluid {
    padding-right: 1rem;
    padding-left: 1rem;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.grid-container.full {
    padding-right: 0;
    padding-left: 0;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.grid-x {
    display: flex;
    flex-flow: row wrap;
}

.cell {
    flex: 0 0 auto;
    min-height: 0px;
    min-width: 0px;
    width: 100%;
}

.grid-x > .small-full { flex-basis: auto; }
@media print, screen and (min-width: 40em) {
    .grid-x > .medium-full { flex-basis: auto; }
}
@media print, screen and (min-width: 64em) {
    .grid-x > .large-full { flex-basis: auto; }
}

/**
 * XY Grid Column Width Classes.
 */

.grid-x > .auto     { flex: 1 1 0px;  width: auto; }
.grid-x > .shrink   { flex: 0 0 auto; width: auto; }
.grid-x > .small-1  { flex: 0 0 auto; width: calc(100% *  1/12); }
.grid-x > .small-2  { flex: 0 0 auto; width: calc(100% *  2/12); }
.grid-x > .small-3  { flex: 0 0 auto; width: calc(100% *  3/12); }
.grid-x > .small-4  { flex: 0 0 auto; width: calc(100% *  4/12); }
.grid-x > .small-5  { flex: 0 0 auto; width: calc(100% *  5/12); }
.grid-x > .small-6  { flex: 0 0 auto; width: calc(100% *  6/12); }
.grid-x > .small-7  { flex: 0 0 auto; width: calc(100% *  7/12); }
.grid-x > .small-8  { flex: 0 0 auto; width: calc(100% *  8/12); }
.grid-x > .small-9  { flex: 0 0 auto; width: calc(100% *  9/12); }
.grid-x > .small-10 { flex: 0 0 auto; width: calc(100% * 10/12); }
.grid-x > .small-11 { flex: 0 0 auto; width: calc(100% * 11/12); }
.grid-x > .small-12 { flex: 0 0 auto; width: calc(100% * 12/12); }
@media print, screen and (min-width: 40em) {
    .grid-x > .medium-auto   { flex: 1 1 0px;  width: auto; }
    .grid-x > .medium-shrink { flex: 0 0 auto; width: auto; }
    .grid-x > .medium-1      { flex: 0 0 auto; width: calc(100% *  1/12); }
    .grid-x > .medium-2      { flex: 0 0 auto; width: calc(100% *  2/12); }
    .grid-x > .medium-3      { flex: 0 0 auto; width: calc(100% *  3/12); }
    .grid-x > .medium-4      { flex: 0 0 auto; width: calc(100% *  4/12); }
    .grid-x > .medium-5      { flex: 0 0 auto; width: calc(100% *  5/12); }
    .grid-x > .medium-6      { flex: 0 0 auto; width: calc(100% *  6/12); }
    .grid-x > .medium-7      { flex: 0 0 auto; width: calc(100% *  7/12); }
    .grid-x > .medium-8      { flex: 0 0 auto; width: calc(100% *  8/12); }
    .grid-x > .medium-9      { flex: 0 0 auto; width: calc(100% *  9/12); }
    .grid-x > .medium-10     { flex: 0 0 auto; width: calc(100% * 10/12); }
    .grid-x > .medium-11     { flex: 0 0 auto; width: calc(100% * 11/12); }
    .grid-x > .medium-12     { flex: 0 0 auto; width: calc(100% * 12/12); }
}

@media print, screen and (min-width: 64em) {
    .grid-x > .large-auto   { flex: 1 1 0px;  width: auto; }
    .grid-x > .large-shrink { flex: 0 0 auto; width: auto; }
    .grid-x > .large-1      { flex: 0 0 auto; width: calc(100% *  1/12); }
    .grid-x > .large-2      { flex: 0 0 auto; width: calc(100% *  2/12); }
    .grid-x > .large-3      { flex: 0 0 auto; width: calc(100% *  3/12); }
    .grid-x > .large-4      { flex: 0 0 auto; width: calc(100% *  4/12); }
    .grid-x > .large-5      { flex: 0 0 auto; width: calc(100% *  5/12); }
    .grid-x > .large-6      { flex: 0 0 auto; width: calc(100% *  6/12); }
    .grid-x > .large-7      { flex: 0 0 auto; width: calc(100% *  7/12); }
    .grid-x > .large-8      { flex: 0 0 auto; width: calc(100% *  8/12); }
    .grid-x > .large-9      { flex: 0 0 auto; width: calc(100% *  9/12); }
    .grid-x > .large-10     { flex: 0 0 auto; width: calc(100% * 10/12); }
    .grid-x > .large-11     { flex: 0 0 auto; width: calc(100% * 11/12); }
    .grid-x > .large-12     { flex: 0 0 auto; width: calc(100% * 12/12); }
}

.grid-padding-x .grid-padding-x {
    margin-right: -1rem;
    margin-left: -1rem;
}

.grid-container:not(.full) > .grid-padding-x {
    margin-right: -1rem;
    margin-left: -1rem;
}

.grid-padding-x > .cell {
    padding-right: 1rem;
    padding-left: 1rem;
}

/**
 * XY Grid (Padding) Collapse.
 */

.small-padding-collapse {
    margin-right: 0;
    margin-left: 0;
}
.small-padding-collapse > .cell {
    padding-right: 0;
    padding-left: 0;
}
@media print, screen and (min-width: 40em) {
    .medium-padding-collapse {
        margin-right: 0;
        margin-left: 0;
    }
    .medium-padding-collapse > .cell {
        padding-right: 0;
        padding-left: 0;
    }
}
@media print, screen and (min-width: 64em) {
    .large-padding-collapse {
        margin-right: 0;
        margin-left: 0;
    }
    .large-padding-collapse > .cell {
        padding-right: 0;
        padding-left: 0;
    }
}

/**
 * XY Grid Offset.
 */

.small-offset-0  { margin-left: calc(100% *  0/12); }
.small-offset-1  { margin-left: calc(100% *  1/12); }
.small-offset-2  { margin-left: calc(100% *  2/12); }
.small-offset-3  { margin-left: calc(100% *  3/12); }
.small-offset-4  { margin-left: calc(100% *  4/12); }
.small-offset-5  { margin-left: calc(100% *  5/12); }
.small-offset-6  { margin-left: calc(100% *  6/12); }
.small-offset-7  { margin-left: calc(100% *  7/12); }
.small-offset-8  { margin-left: calc(100% *  8/12); }
.small-offset-9  { margin-left: calc(100% *  9/12); }
.small-offset-10 { margin-left: calc(100% * 10/12); }
.small-offset-11 { margin-left: calc(100% * 11/12); }
@media print, screen and (min-width: 40em) {
    .medium-offset-0  { margin-left: calc(100% *  0/12); }
    .medium-offset-1  { margin-left: calc(100% *  1/12); }
    .medium-offset-2  { margin-left: calc(100% *  2/12); }
    .medium-offset-3  { margin-left: calc(100% *  3/12); }
    .medium-offset-4  { margin-left: calc(100% *  4/12); }
    .medium-offset-5  { margin-left: calc(100% *  5/12); }
    .medium-offset-6  { margin-left: calc(100% *  6/12); }
    .medium-offset-7  { margin-left: calc(100% *  7/12); }
    .medium-offset-8  { margin-left: calc(100% *  8/12); }
    .medium-offset-9  { margin-left: calc(100% *  9/12); }
    .medium-offset-10 { margin-left: calc(100% * 10/12); }
    .medium-offset-11 { margin-left: calc(100% * 11/12); }
}
@media print, screen and (min-width: 64em) {
    .large-offset-0  { margin-left: calc(100% *  0/12); }
    .large-offset-1  { margin-left: calc(100% *  1/12); }
    .large-offset-2  { margin-left: calc(100% *  2/12); }
    .large-offset-3  { margin-left: calc(100% *  3/12); }
    .large-offset-4  { margin-left: calc(100% *  4/12); }
    .large-offset-5  { margin-left: calc(100% *  5/12); }
    .large-offset-6  { margin-left: calc(100% *  6/12); }
    .large-offset-7  { margin-left: calc(100% *  7/12); }
    .large-offset-8  { margin-left: calc(100% *  8/12); }
    .large-offset-9  { margin-left: calc(100% *  9/12); }
    .large-offset-10 { margin-left: calc(100% * 10/12); }
    .large-offset-11 { margin-left: calc(100% * 11/12); }
}
